.hero-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
  }

.hero-container-texts{
  margin-bottom: 3rem ;
}
  
  h4 {
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5rem;
    color: #1A1A1A;
  }
  .name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 110px;
    color: #1A1A1A;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    
  }
  .desc{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    margin-top: .4rem;
    line-height: 1.5rem;
    text-align: justify;
    color: #1A1A1A;
  }
  .heyy{
    color: #1A1A1A;
  }

  @media screen and (max-width: 900px){
    
    .name{
      font-weight: 500;
      font-size: 2.6rem;
      line-height: 50px;
      margin-top: 2rem;
      
    }
    .desc{
      font-family: 'Inter';
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5rem;

  }
  .heyy{
    margin-top: 3rem;
  }
}