.jobList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.featuredProjects{
    margin-bottom: 1rem;
    position: relative;
}
.featuredProjects::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 35px;
    height: 3px;
    margin-top: 1rem;
    width: 140px;
    display: block;
    background-color: #9845E8;;
}
@media screen and (max-width: 750px){
    .jobList{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
}
