.jobListCont{
     
}
.jobList{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.featuredProjects{
    margin-bottom: 1rem;
}
@media screen and (max-width: 900px){
    .jobList{
        flex-direction: column;
        
        flex-wrap: nowrap;
    }
    
}
