
.jobContainer{
    height: 70vh;
    width: 45%;
    margin-bottom: 2rem;
    
}
.jobImg{
    height: 70%;
    width: 100%;
    
}

.special{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}
.productName{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
}

.icon{
    font-size: 1.5rem;
    margin-left: 1rem;
}
.productDesc{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-top: .6rem;
    color: #1A1A1A;
}

.languages{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    margin-top: .7rem;
    color: #004E93;
}
.iconLink{
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 900px){
    .jobContainer{
        width: 100%;
        
        margin-bottom: 4rem;
        
    }
    .jobImg{
        
        width: 100%;
        
        
    }
    
  }