.footer{
  margin-top: 2rem;
  height: 13vh;
  border-top: 2px solid #9845E8
  
}

.footerBtnContainers {
  width: 15%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

}

a{
  text-decoration: none;
}

.icons{
  color: #fff;
  font-size: 1.3rem;
}

.footer_links{
  background-color: #9845E8;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media screen and (max-width: 800px) {

  .footerBtnContainers {
    width: 20%;
    }
}

@media screen and (max-width: 650px) {

  .footerBtnContainers {
    width: 25%;
  }
  .footer_links{
    height: 30px;
    width: 30px;
    
  }
  .icons{
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {

  .footerBtnContainers {
    width: 35%;
  }
}

