.footer{
  margin-top: 2rem;
  height: 13vh;
  border-top: 1px solid #9845E8;
  
}

.footerBtnContainers {
  width: 12%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

}

a{
  text-decoration: none;
}

.icons{
  color: #fff;
  font-size: 1.1rem;
}

.footer_links{
  background-color: #9845E8;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media screen and (max-width: 800px) {

  .footerBtnContainers {
    width: 15%;
    }
}

@media screen and (max-width: 650px) {

  .footerBtnContainers {
    width: 20%;
  }
  .footer_links{
    height: 27px;
    width: 27px;
    
  }
  .icons{
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {

  .footerBtnContainers {
    width: 30%;
  }
}

